<header
  class="vh-100 d-flex justify-content-center align-items-center position-relative"
  [dir]="directions"
>
  <div class="text-center text-white z-3 overflow-hidden">
    <h1  class="wow animate__backInRight"
    data-wow-duration="2s"
    data-wow-delay="0s">{{ "header.title" | translate }}</h1>
    <p
    class="wow animate__backInRight"
    data-wow-duration="1s"
    data-wow-delay="0s">{{ "header.title" | translate }}</p>
  </div>
  <div class="layer position-absolute top-0 start-0 z-2 end-0 bottom-0"></div>
</header>
