img{
  width: 500px;
  height: 500px;
}
.btnClose{
  border: solid 2px darkred;
  font-size: 1.375rem;
}

#rating-value{
  /* width: 110px; */
  /* margin: 40px auto 0; */
  /* padding: 10px 5px; */
  text-align: center;
  box-shadow: inset 0 0 2px 1px rgb(46, 204, 113,0.2);
}

.startRating .rating{
  border: none;
  flex-wrap: nowrap;
}
.rating > input{
  display: none;
}
.rating > label::before{
  content:'\f005' ;
  font-family: fontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}
.rating > .half::before{
  content: '\f089';
  /* position: absolute; */
  cursor: pointer;
}
.rating > label
{
  color: #ddd;
  cursor: pointer;
}
.rating > input:checked ~ label,.rating:not(:checked) >label:hover,.rating:not(:checked)>label:hover ~ label{
color: #fdd700;
}
.rating > input:checked + label:hover,.rating > input:checked ~ label:hover,.rating > label:hover ~ input:checked ~ label,.rating > input:checked ~ label:hover ~ label{
  color: rgb(253, 215, 0,0.8) ;
}
